{erl_opts, [debug_info
           , bin_opt_info
           , warn_unused_import
           , warn_bif_clash
           , warn_export_all
           , warn_obsolete_guard
           , warn_unused_record
           , warn_untyped_record
           , warn_shadow_vars
           , warn_unused_vars
           , warn_export_vars
           , warn_exported_vars
           , warn_unused_function
           , warn_deprecated_function
           , strict_validation
           , warn_missing_spec
           %% , warnings_as_errors

           , {platform_define, "linux", 'LINUX'}
           , {platform_define, "(freebsd|darwin)", 'DARWIN'}
           ]}.

{plugins, [ {rebar3_vendor, {git, "https://github.com/eryx67/rebar3_vendor.git",
                             {branch, "master"}}}
          ]}.

{project_plugins, [
                   {rebar3_cuttlefish, {git, "http://github.com/eryx67/rebar3_cuttlefish",
                                        {branch, "master"}}}]}.

{cuttlefish, [
              {file_name, "{{name}}.conf"}
             , {schema_discovery, false}
             ]}.

{clean_files, ["ebin/*.beam",
               "log/*",
               "*.dump"
              ]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_opts, [verbose]}.

{relx, [{release, {{{name}}, "1.0.0" },
         [ kernel
         , stdlib
         , {{name}}
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        %% {extended_start_script, true},
        {generate_start_script, false},

        {overlay, [{mkdir, "data"},
                   {template, "{{=<< >>=}}{{build_lib_dir}}<<={{ }}=>>/node_package/priv/base/runner",
                    "bin/{{name}}"},
                   {template,"config/files/{{name}}-admin","bin/{{name}}-admin"},
                   {template, "{{=<< >>=}}{{build_lib_dir}}<<={{ }}=>>/node_package/priv/base/nodetool",
                    "erts-{{=<< >>=}}{{erts_vsn}}<<={{ }}=>>/bin/nodetool"},
                   {template, "{{=<< >>=}}{{build_lib_dir}}<<={{ }}=>>/node_package/priv/base/nodetool",
                    "bin/nodetool"},
                   {template, "{{=<< >>=}}{{build_lib_dir}}<<={{ }}=>>/node_package/priv/base/env.sh",
                    "lib/env.sh"},
                   {template, "{{=<< >>=}}{{build_lib_dir}}<<={{ }}=>>/node_package/priv/base/app_epath.sh",
                    "lib/app_epath.sh"},
                   {copy, "_build/default/bin/cuttlefish", "erts-{{=<< >>=}}{{erts_vsn}}<<={{ }}=>>/bin/cuttlefish"},

                   {copy, "config/files/_empty", "data/_empty"},
                   {template,"config/files/sys.config","etc/advanced.config"},
                   {copy,"apps/{{name}}/priv/cuttlefish/{{name}}.schema", "share/schema/01-{{name}}.schema"},
                   {template,"apps/{{name}}/priv/cuttlefish/logger.schema", "share/schema/04-logger.schema"},
                   {template,"apps/{{name}}/priv/cuttlefish/erlang_vm.schema", "share/schema/05-erlang_vm.schema"},

                   {mkdir, "lib/{{name}}-patches"}
                  ]}
       ]
}.

{profiles, [
            {prod, [{relx, [ {dev_mode, false}
                           , {include_erts, true}
                           , {extended_start_script, true}
                           , {exclude_modules, []}
                           ]}
                     , {dist_node, [
                                    {name, '{{name}}@127.0.0.1'}
                                   ]}
                   ]
              }
           , {dist, [{relx, [ {dev_mode, false}
                            , {include_erts, true}
                            , {extended_start_script, true}
                            , {exclude_modules, []}
                            ]}
                     , {dist_node, [
                                    {name, '{{name}}@127.0.0.1'}
                                   ]}
                     ]
              }
           ]}.

{deps, [ {cuttlefish, {git, "https://github.com/Kyorai/cuttlefish.git", {branch, "develop"}}}
       , {clique, {git, "https://github.com/eryx67/clique.git", {branch, "develop"}}}
       , {node_package , {git, "https://github.com/eryx67/node_package.git", {branch, "master"}}}
       ]}.
