%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{rebar_profile, "dist"}.
{rpm_depends, "openssl"
              ", libtool"}.
{deb_depends, "openssl"
              ", libtool"}.
{cuttlefish_conf, "{{name}}.conf"}.
{package_name, "{{name}}"}.
{package_install_name, "{{name}}"}.
{package_install_user, "{{name}}"}.
{package_install_group, "{{name}}"}.
{package_install_user_desc, "{{user}} user"}.
{package_shortdesc, "{{name}} Application"}.
{package_desc, "{{name}} Application"}.
{package_commands, {list, [[{name, "{{name}}"}], [{name, "{{name}}-admin"}]]}}.
{package_patch_dir, "{{name}}-patches"}.
{bin_or_sbin, "bin"}.
{license_type, "Commercial"}.
{copyright, "{{name}}"}.
{vendor_name, "{{name}}"}.
{vendor_url, "http://{{name}}.com"}.
{vendor_contact_name, "{{name}}"}.
{vendor_contact_email, "{{name}}@{{name}}.com"}.
{license_full_text,
    "This file is provided to you under the Commercial Eula,\n"
    "Unauthorised use of binaries or reverse engineering of\n"
    "binariesis restricted under the License."}.
{solaris_pkgname, "{{name}}"}.
